{{ define "header" }}{{- partial "page-header.html" . -}}{{ end }}
{{ define "main" }}
  <div>
    <article>
      <header>
        <h2>{{- .Title -}}</h2>
        {{- partial "external-image-search.html" . -}}
      </header>
      <div>
        {{- .Content -}}
      </div>
      <aside>
        {{- partial "menu-contextual.html" . -}}
      </aside>
    </article>
  </div>
{{ end }}
