{{ define "main" }}
<h5><em>LAYOUTS/_DEFAULT/TAXONOMY.HTML</em></h5>
  <div class="container">
    <h1>All {{ .Type }}</h1>
    <ul>
      {{ range .Data.Pages }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
