{{ define "main" }}
<h5><em>LAYOUTS/_DEFAULT/TERM.HTML</em></h5>
  <div class="container">
    <h1>All posts for {{ .Type | singularize }} "{{ .Title }}"</h1>
    <ul>
      {{ range .Data.Pages }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end}}
