{{ $pageParams := .Params }}
{{ $pageTitle := .Title }}
				

{{ $relatedPage := .Site.RegularPages.Related . }}
{{ with $relatedPage }}
  <div>
    <h3>'{{- $.Page.Title -}}' has links with:</h3>
    <ul>

		{{/* Loop through pages which are related to this page */}}
		{{ range . }}
			{{ $relatedPageParams := .Params }}
			{{ $relatedPageTitle := .Title }}

			<li>
				<a href="{{- .RelPermalink -}}"><h4>{{- $relatedPageTitle -}}</h4></a>


				{{/* Loop through all available taxonomies (eg actor, writer etc) */}}
				{{ range $txnTerm, $txnValues := .Site.Taxonomies }}

					{{/* Create slice to store matches */}}
					{{ $txnMatches := slice }}

					{{/* Loop through current taxonomy list (eg all actors) for this page */}}
					{{ range $pageTxnTerm, $pageTxnValue := index $pageParams $txnTerm }}
				
						{{/* Loop through taxonomy list (eg all actors) for related page */}}
						{{ range $relPageTxnTerm, $relPageTxnValue := index $relatedPageParams $txnTerm }}
							{{/* Add matches (eg page actor is same as related page actor) to list */}}
							{{ if ( eq $pageTxnValue $relPageTxnValue ) }}
									{{ $txnMatches = $txnMatches | append $relPageTxnValue }}
							{{ end }}
						{{ end }}

					{{ end }}
						

					{{/* Loop through all matches */}}
					{{ with $txnMatches }}
							
						{{ $isTitleMatch := false }} 
						{{ $hideTxn := false }} 

						{{/*
							Decide if this taxonomy should be hidden:
							- the taxonomy term only contains 1 item
							- the term is "shows"
							- the item matches the title of either the main or related page
						*/}}
						{{ if eq ( len . ) 1 }}
							{{ $isTitleMatch = ( or 
								( eq $relatedPageTitle (index $txnMatches 0) ) 
								( eq $pageTitle (index $txnMatches 0) ) )
							}}
							{{ if and ( eq $txnTerm "shows" ) $isTitleMatch }}
								{{ $hideTxn = true }}
							{{ end }}
						{{ end }}

						{{ if not $hideTxn }}
						<ul>

							{{/* correct singular/plural taxonomy term */}}
							{{ if ( gt ( len $txnMatches ) 1 ) }}
								<lh>{{- $txnTerm -}}</lh>
							{{ else }}
								<lh>{{- $txnTerm | singularize -}}</lh>
							{{ end }}

							{{ range . }}
								{{/*
									Avoid redundant info eg
									If the page or related page is "Ricky Gervais",
									just display "actor" --- not "actor Ricky Gervais"
								*/}}
								{{ $isTitleMatch = ( or ( eq $relatedPageTitle . ) ( eq $pageTitle . ) ) }}
								{{ if not $isTitleMatch }}
									<li><a href="/pages/{{- . | urlize -}}">{{- . -}}</a></li>
								{{ end }}
							{{ end }}
						</ul>
						{{ end }}

					{{ end }}
						
				{{ end }}

				
			</li>
		{{ end }}
    </ul>
</div>
{{ end }}
